composer.phar
/vendor/
/node_modules/
/excel/*.xlsx
/excel/*.csv
/excel/*.Identifier
email.md
smtp_settings.php

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
